*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Navbar start */
nav{
  background-color:#FAE3B6;
  padding: 45px 60px 0;
}
.container{
  width: 1320px;
  margin: 0 auto;
}
nav .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  column-gap: 59px;
  align-items: center;
}
nav ul li a{
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.btn a:nth-child(1){
  font-size: 24px;
  font-weight: 600;
  padding: 10px 28px;
  background-color: transparent;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}
.btn a:nth-child(2){
  font-size: 24px;
  font-weight: 600;
  padding: 10px;background-color: #FDBB57;
  border-radius: 10px;
  margin-left: 10px;
  color: #000;
  font-family: "Poppins", sans-serif;
}
/* Navbar end */

/* Banner part start */
.banner{
  background-color: #FAE3B6;
  padding-top: 117px;
  padding-bottom: 102px;
}
.banner .box{
  display: flex;
  align-items: center;
}
.banner h2{
  font-size: 64px;
  font-weight: 600;
  width: 450px;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.banner p{
  font-size: 22px;
  font-weight: 400;
  width: 531px;
  color: #000;
  font-family: "Poppins", sans-serif;
  padding-bottom: 76px;
  padding-top: 38px;
}
.banner a{
  font-size: 24px;
  font-weight: 600;
  padding: 25px 91px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
/* Banner part end */

/* Collection part start */
.collection{
  padding-bottom: 188px;
}
.collection h2{
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding-top: 217px;
  padding-bottom: 108px;
  font-family: "Frank Ruhl Libre", serif;
}
.collection .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection .collection-cart{
  height: 402px;
  width: 349px;
  border-radius: 20px;
  position: relative;
}
.collection .collection-cart img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}
.collection .collection-cart a{
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  padding: 6px 0;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 88%;
  left: 15px;
  right: 15px;
  transition: 0.5s;
  opacity: 0;
}
.collection .collection-cart:hover a{
  top: 70%;
  opacity: 1;
}
/* Collection part end */

/* Fashion part start */
.fashion .box{
  display: flex;
  align-items: center;
}
.fashion .right h2{
  font-size: 64px;
  font-weight: 700;
  width: 437px;
  font-family: "Frank Ruhl Libre", serif;
}
.fashion .right p{
  font-size: 24px;
  font-weight: 600;
  width: 443px;
  padding-top: 63px;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.fashion .count{
  width: 793px;
  height: 280px;
  background-color: #FEECC8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -80px;
  left: 537px;
  z-index: -1;
  border-radius: 20px;
}
.fashion .count h2{
  font-size: 64px;
  font-weight: 700;
  color: #000;
  font-family: "Podkova", serif;
}
.fashion .count p{
  font-size: 28px;
  font-weight: 500;
  color: #000;
  padding-top: 28px;
  font-family: "Poppins", sans-serif;
}
.one::after{
  height: 200px;
  width: 2px;
  background-color: #000;
  position: absolute;
  top: 40px;
  left: 237px;
  content: "";
}
.one::before{
  height: 200px;
  width: 2px;
  background-color: #000;
  position: absolute;
  top: 40px;
  left: 516px;
  content: "";
}
.fashion .sec{
  position: relative;
  left: 200px;
  top: -100px;
}
/* Fashion part end */

/* Best part start */
.best{
  background-color: #CFA485;
  padding-top: 56px;
  padding-bottom: 190px;
}
.best .box{
  display: flex;
  column-gap: 31px;
  align-items: center;
}
.best h2{
  font-size: 64px;
  font-weight: 700;
  width: 437px;
  color: #fff;
  font-family: "Frank Ruhl Libre", serif;
}
.best p{
  font-size: 24px;
  font-weight: 700;
  width: 437px;
  height: 270px;
  color: #fff;
  padding: 42px 0;
  font-family: "Frank Ruhl Libre", serif;
}
.best a{
  font-size: 24px;
  font-weight: 600;
  padding: 25px 86px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.best .right{
  display: flex;
  column-gap: 31px;
}
/* Best part end */